<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="inicio1.css">
</head>
<body>
    <main>
        <img src="img/_5---RECRUITING.svg" alt="">
    </main>
    <section>
        <div class="header">
            <h1>
                Qual meu perfil financeiro?
            </h1>
            <p>Ao final desse nível você irá identificar qual é o seu perfil financeiro e o que isso significa</p>
        </div>
        <a href="nivel1-1.html"><button>Iniciar nível</button></a>
    </section>
</body>
</html>