<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nivel1.css">
</head>
<body>
    
    <div class="progress">
        <div class="progress2">
        </div>
    </div>

    <main>
        <h1>Como você realiza o pagamento dessas despesas?</h1>
        <div class="botoes">
            <form action="/answer" method="POST">
                <input type="hidden" name="nextQuestion" value="3">
                <a href="nivel1-3.html"><button type="submit" name="answer" value="A" class="perguntas">quase sempre pago em dia e á vista mas parcelo quando são em alto valor</button></a>
                <a href="nivel1-3.html"><button type="submit" name="answer" value="B"  class="perguntas">quase sempre pago em dia e á vista mas parcelo quando são em alto valor</button></a>
                <a href="nivel1-3.html"><button type="submit" name="answer" value="C"  class="perguntas">preciso fazer o parcelamento e utilizo cartão de crédito ou crediário. </button></a>
            </form>
        </div>
    </main>

    
</body>
</html>