<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nivel1.css">
</head>
<body>
    
    <div class="progress">
        <div class="progress13">
        </div>
    </div>

    <main>
        <h1>O que você faz quando quer comprar um produto?</h1>
        <div class="botoes">
            <form action="/answer" method="POST">
                <input type="hidden" name="nextQuestion" value="14">
                <button type="submit" name="answer" value="A" class="perguntas">planejo uma forma de investimento pra comprar </button>
                <button type="submit" name="answer" value="B" class="perguntas">parcelo se o valor estiver dentro do meu orçamento</button>
                <button type="submit" name="answer" value="C" class="perguntas">compro e depois vejo como vou conseguir comprar</button>
            </form>
        </div>
    </main>

</body>
</html>