<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nivel1.css">
</head>
<body>
    
    <div class="progress">
        <div class="progress8">
        </div>
    </div>

    <main>
        <h1>Você sabe quais são suas metas e objetivos de curto, médio e longo prazo?</h1>
        <div class="botoes">
            <form action="/answer" method="POST">
                <input type="hidden" name="nextQuestion" value="9">
                <button type="submit" name="answer" value="A" class="perguntas">sei quais são, quanto vão me custar e  por quanto tempo terei que poupar</button>
                <button type="submit" name="answer" value="B" class="perguntas">sei quais são, quanto vão custar mas não sei como alcança-los</button>
                <button type="submit" name="answer" value="C" class="perguntas">não tenho ou acabo sempre adiando por não conseguir poupar dinheiro </button>
            </form>
        </div>
    </main>

</body>
</html>