<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nivel1.css">
</head>
<body>
    
    <div class="progress">
        <div class="progress7">
        </div>
    </div>

    <main>
        <h1>O que você entende sobre Independência Financeira?</h1>
        <div class="botoes">
            <form action="/answer" method="POST">
                <input type="hidden" name="nextQuestion" value="8">
                <button type="submit" name="answer" value="A" class="perguntas">que posso trabalhar por prazer e não por necessidade</button>
                <button type="submit" name="answer" value="B" class="perguntas">que posso ter dinheiro para viver de forma confortável com minha família</button>
                <button type="submit" name="answer" value="C" class="perguntas">que posso curtir a vida intensamente sem se preocupar com os gastos</button>
            </form>
        </div>
    </main>

</body>
</html>