<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nivel1.css">
</head>
<body>
    
    <div class="progress">
        <div class="progress1">
        </div>
    </div>


    <main>
        <h1>com o que ganha por mês consegue pagar todas suas despesa?</h1>
        <div class="botoes">
            <form action="/answer" method="POST">
            <input type="hidden" name="nextQuestion" value="2">
            <a href="pergunta2.html"><button type="submit" name="answer" value="A" class="perguntas">pago tudo e ainda sobra 10% </button></a>
            <a href="pergunta2.html"><button type="submit" name="answer" value="B" class="perguntas">consigo mas gasto exatamente o que eu ganho</button></a>
            <a href="pergunta2.html"><button type="submit" name="answer" value="C" class="perguntas">não, preciso pedir emprestado pro banco ou familiares e amigos</button></a>
            </form>
        </div>
    </main>

    
</body>
</html>