<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nivel1.css">
</head>
<body>
    
    <div class="progress">
        <div class="progress11">
        </div>
    </div>

    <main>
        <h1>Se acontecesse um imprevisto que alterasse sua condição financeira, demissão, por exemplo, qual seria sua reação?</h1>
        <div class="botoes">
            <form action="/answer" method="POST">
                <input type="hidden" name="nextQuestion" value="12">
                <a href="nivel1-12.html"><button type="submit" name="answer" value="A" class="perguntas">registraria todos os meus gastos e ganhos, um diagnóstico financeiro</button></a>
                <a href="nivel1-12.html"><button type="submit" name="answer" value="B" class="perguntas">cortaria despesas e gastos desnecessários</button></a>
                <a href="nivel1-12.html"><button type="submit" name="answer" value="C" class="perguntas">não saberia por onde começar e só de pensar já ficaria com medo</button></a>
            </form>
        </div>
    </main>

</body>
</html>