<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nivel1.css">
</head>
<body>
    
    <div class="progress">
        <div class="progress4">
        </div>
    </div>

    <main>
        <h1>Realiza orçamento financeiro mensalmente?</h1>
        <div class="botoes">
            <form action="/answer" method="POST">
                <input type="hidden" name="nextQuestion" value="5">
                <a href="nivel1-5.html"><button type="submit" name="answer" value="A" class="perguntas">sempre faço orçamento e comparo no final do mês para analisar os gastos</button></a>
                <a href="nivel1-5.html"><button type="submit" name="answer" value="B"  class="perguntas">registro mas não comparo no final do mês</button></a>
                <a href="nivel1-5.html"><button type="submit" name="answer" value="c"  class="perguntas">não faço nenhum tipo de registro e orçamento</button></a>
            </form>
        </div>
    </main>

</body>
</html>