<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nivel1.css">
</head>
<body>
    
    <div class="progress">
        <div class="progress10">
        </div>
    </div>

    <main>
        <h1>Antes de fazer uma nova prestação, você soma as que já precisa pagar no fim do mês?</h1>
        <div class="botoes">
            <form action="/answer" method="POST">
                <input type="hidden" name="nextQuestion" value="11">
                <a href="nivel1-11.html"><button type="submit" name="answer" value="A" class="perguntas">não costumo realizar compras em prestação</button></a>
                <a href="nivel1-11.html"><button type="submit" name="answer" value="B" class="perguntas">sempre somo os valores antes de finalizar uma nova prestação</button></a>
                <a href="nivel1-11.html"><button type="submit" name="answer" value="C" class="perguntas">verifico se ainda tenho limite no meu cartão</button></a>
            </form>
        </div>
    </main>

</body>
</html>