<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nivel1.css">
</head>
<body>
    
    <div class="progress">
        <div class="progress6">
        </div>
    </div>

    <main>
        <h1>Como planeja a aposentadoria?</h1>
        <div class="botoes">
            <form action="/answer" method="POST">
                <input type="hidden" name="nextQuestion" value="7">
                <a href="nivel1-7.html"><button type="submit" name="answer" value="A" class="perguntas">com planos alternativos para contribuir na previdência privada e social </button></a>
                <a href="nivel1-7.html"><button type="submit" name="answer" value="B" class="perguntas">contribuo para a previdência social, não consigo realizar nenhum extra</button></a>
                <a href="nivel1-7.html"><button type="submit" name="answer" value="C" class="perguntas">não contribuo nem para a privada nem para a social</button></a>
            </form>
        </div>
    </main>

</body>
</html>