<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado nível 1</title>
    <link rel="stylesheet" href="resultadoNivel1.css">
</head>
<body>
    <img src="img/relatorio.png" alt="">
    <div class="titulo">
        <p class="perfil">Seu perfil é...</p>
        <h1>Investidor</h1>
    </div>
    
    <p> Parabéns! Você sabe exatamente onde está sendo utilizado o seu dinheiro e as principais possibilidades de investimento e segurança para caso ocorra algum imprevisto, mantendo sua saúde financeira. 
    <br>Ser financeiramente consciente não é uma tarefa fácil, exige além de disciplina, muita força de vontade para mudar de vida.</p>

    <a href="home.html"></a><button>Continuar</button></a>
</body>
</html>