<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado nível 1</title>
    <link rel="stylesheet" href="resultadoNivel1.css">
</head>
<body>
    <img src="img/relatorio.png" alt="">
    <div class="titulo">
        <p class="perfil">Seu perfil é...</p>
        <h1>Equilibrado Financeiramente</h1>
    </div>
    
    <p>Sua vida financeira está em um bom nível de estabilidade, mas a ausência ou o controle de dívidas não pode se tornar um hábito. Isso, pois mesmo com o controle das suas contas, você ainda não possui o costume de poupar dinheiro ou investi-los de forma a adquirir lucros futuros. Sua vida financeira está baseada no equilíbrio de gastos e isso pode acabar se desestabilizando caso ocorra alguma surpresa no futuro.
    <br>Portanto, existe a necessidade, hoje, de que você realize um diagnóstico financeiro juntamente com a sua família. Para isso é necessário que vocês estabeleçam um período de cotação de gastos, onde tudo que for comprado deve ser registrado no tempo definido por vocês.
    <br>A partir deste diagnóstico, você pode traçar metas a curto, médio e longo prazo, visando os seus sonhos de acordo com o tempo e o custo de cada objetivo.</p>

    <button>Continuar</button>
</body>
</html>