<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sessoes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <img src="img/Hello-cuate 1.png" alt="mulher acenando oi">
    <main>
        <h1>Sessão 1</h1>
        <p>Sabemos que você quer aprender a investir, mas antes, você precisa entender sobre <strong> comportamentos financeiros</strong>, como a nossa cultura influencia a forma que lidamos com o dinheiro e como mudar essa mentalidade </p>
    </main>
    <button>
        continuar
    </button>
</body>
</html>